
/* Navigation Bar */
.navigationBar {
    list-style-type: none;
    margin: 10;
    padding: 10;
    padding-left: 40;
    padding-right: 40;
    overflow: hidden;
    background-color: transparent;
}

.li {
    float: right;
}

.li a {
    display: block;
    border-color: black;
    color: black;
    text-align: center;
    padding: 11px 26px;
    margin: 3px;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.li a:hover {
    background-color: whitesmoke;
}

.active{
    background-color: whitesmoke;
}

/* Circles */

.circles {
  width: auto;
  font-size: 22px;
  margin-top: 20%;
  overflow: hidden;


}
.eachCircle {
  float: left;
  width: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

/* Kontaktmenu */

.dropdown {
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 26px;
    border: none;
    outline: none;
    color: inherit;
    padding: 11px 26px;
    background-color: inherit;
    font-family: 'Courier New', Courier, monospace;
    margin: 3;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    max-width: 300;
    margin-right: 49;
    /* z-index: 1; */
  }

  .dropdown-content a {
    color: black;
    padding: 11px 26px;
    font-size: 18px;
    text-decoration: none;
    display: block;
    text-align: center;

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
      background-color: whitesmoke;
  }


/* Forsidetekst */
.forsidetekst {
    margin: 10;
    margin-top: 100;
    padding-left: 44;
<<<<<<< HEAD
    font-family: ce
    font-size: 32px;
    
}
=======
>>>>>>> dc4f7c2f3269c5ca0235b3e0d2a3cb40a34aaadf

}

/* Background Picture */

body {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
