/* Navigation Bar */
ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    padding-left: 40;
    padding-right: 40;
    overflow: hidden;
    background-color: transparent;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    border-radius: 25px;
    opacity: 0.75;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
  
li a:hover {
    background-color: burlywood;
}

.active{
    background-color: burlywood;
}


/* Background Picture */

body {
    background-image: url("img/Paper.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}