/* Navigation Bar */
ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    padding-left: 40;
    padding-right: 40;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: right;
}

li a {
    display: block;
    border-radius: 35px;
    opacity: 0.75;
    color: black;
    text-align: center;
    padding: 11px 26px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

li a:hover {
    background-color: burlywood;
}

.active{
    background-color: burlywood;
}

/* Circles */

.circles {
  float: left;
  font-size: 30px;
  margin-top: 400;
}
.eachCircle {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: 'Courier New', Courier, monospace;
}



/* Background Picture */

body {
    background-image: url("img/Paper.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
